/* constant variables define*/
.theme-media{
  --frequencybar-height: 11rem;
  --stationactionbar-height:9rem;
  } 
  @media only screen and (orientation: landscape) {
    .theme-media{
      --frequencybar-height: 6.4rem;
    }
  }
/* constnt variables end*/
html, body {
  padding: 0;
  border: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/**
 * 1. No content inside the app
 *    should be user-selectable.
 */
* {
  -moz-user-select: none; /* 1 */
}

*[hidden] { display: none; }

.hidden {
  display: none !important;
}

body > section {
  padding: 0;
  border: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  color: var(--color-gs100);
  background-color: var(--color-gs00);
}

#fm-container {
  height: calc(100% - 14rem);
  width: 100%;
  display: flex;
  flex-direction: column;
}

#fm-container.dim, #fm-footer.dim {
  opacity: 0.3;
  pointer-events: none;
}

#fm-container.dim::before {
  content: '';
  display: block;
  position: absolute;
  top: 9rem;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--color-gs00);
  z-index: 1;
  opacity: 0.3;
}

/****** styles for fm Header **********/

#fm-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header.kai-header > .power-switch-off{
  color: var(--color-pink);
}

#frequency-bar {
  box-sizing: border-box;
  height: var(--frequencybar-height);
  width: 100%;
  transition: background-color 680ms ease;
  display: flex;
  font-size: 7.2rem;
  font-weight: 700;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: relative;
}

#frequency-bar a {
  color: var(--color-gs60);
  font-size: 3rem;
}

#frequency-bar > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#frequency-display > div{
  width: 100%;
  height: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  color: var(--color-gs60);
}

#frequency-display > span {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 6.2rem;
  font-size: 3.2rem;
}

#frequency-display > .remove-to-favorites {
  color: var(--color-pink);
}

#frequency-list-container >.focus {
  color: var(--color-pink);
}

#dialer-bar {
  width: 100%;
  height: var(--stationactionbar-height);
  overflow: hidden;
}

#dialer-container {
  position: relative;
  margin: 0 2rem;
  height: 100%;
}

#frequency-indicator {
  height: 4rem;
  width: 0.2rem;
  background-color: var(--color-pink);
  border-radius: 0.1rem;
  margin-left: 0.2rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
}

div.animation-on > div {
  transition: -moz-transform var(--transition-duration) ease 0s;
}

#frequency-dialer {
  display: inline-block;
  display: -moz-inline-box;
  -moz-user-select: none;
  width: 100%;
  position: absolute;
  top: 0;
}

#frequency-dialer > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  text-align: left;
  position: absolute;
  padding: 0;
}

li {
  width: 0.2rem;
  height: 0.8rem;
  margin-right: 1rem;
  border-radius: 0.3rem;
  background-color: var(--color-gs20);
  position: relative;
}

li > span {
  font-size: 1.2rem;
  color: var(--color-gs40);
  font-weight: 700;
  position: absolute;
  top: 1.7rem;
  left: -0.4rem;
}

.favorite-diar {
  width: 0.4rem;
  height: 1.2rem;
  border-radius: 0.3rem;
  background-color: var(--color-pink);
  z-index: 2;
  top: -0.2rem;
}

.decimal {
  width: 0.4rem;
  height: 1.2rem;
  background-color: var(--color-gs40);
}

.bound {
  background-color: var(--color-gs100);
}

.shadow {
  background-color: var(--color-gs10)
}

/* The beginning and end of the dial are masked to hide notches that
are out of range. */
.dialer-unit-mark-mask-start,
.dialer-unit-mark-mask-end {
  display: block;
  height: 5.5rem;
  position: absolute;
}
/* The mask at the end should be jogged left by 0.3rem, since the
mask is intended to cover everything except the first notch. */
.dialer-unit-mark-mask-end {
  margin-left: .3rem;
}

#frequency-dialer .dialer-unit-floor {
  color: #AAA;
  float: left;
}

#station-action {
  width: 40%;
  height: var(--stationactionbar-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/**** end *******/

/***** styles for frequency list ******/


div#frequency-list {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* transform: translate(0, 0); */
}

div#frequency-list-container {
  width: 100%;
}

div#frequency-list-container > div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 1.5rem 0 2rem;
  box-sizing: border-box;
  font-weight: 600;
}

.frequency-list-item > .frequency-list-frequency {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.frequency-list-frequency > .favorite-icon {
  font-size: 3.2rem;
}

.frequency-list-item > i {
  font-size: 3.2rem;
}

div#favoritelist-warning {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

div#favoritelist-warning-body  {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div#favoritelist-warning-body :first-child {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

div#favoritelist-warning-body :last-child {
  text-align: center;
  font-size: 1.8rem;
}
/***** end *****/

@keyframes spinner-animation {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***  styles for  warning box ****/
.warning {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.warning .warning-body {
  text-align: center;
  font-weight: 300;
  margin: 0 2.5rem;
}

/**** end ****/

/***  styles for antenna warning box ****/
#antenna-warning {
  z-index: 2;
  color: var(--color-gs100);
}

#antenna-warning > div:first-child {
  height: 50%;
  margin-bottom: 5rem;
  background: url(images/headphone-unplugged.png) no-repeat bottom center / 18.4rem;
}
/******* end *******/

/*** style for input dialog *****/
#input-dialog {
  width: 100%;
  height: 100%;
  color: var(--color-gs100);
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top:0;
  left:0;
  padding-top: 4rem 
}

#input-field > div {
  text-align: left;
  width: 100%;
  padding: 0px 2rem;
  font-size: 1.4rem;
  color: var(--color-gs40);
}

/*****  end  *****/