/* constant variables define*/
.theme-media{
  --frequencybar-height: 13rem;
  --stationactionbar-height:9rem;
  } 
  @media only screen and (orientation: landscape) {
    .theme-media{
      --frequencybar-height: 6.4rem;
    }
  }

* {
  /* By default do not allow any user text selection, only enable for certain
    parts on a per-element/region area */
    -moz-user-select: none;
  }
  
  /* Allow inputs to be selectable, and to allow cut/copy operations. Copy/paste
  select all could reach across the whole DOM so only scope the selection to the
  center "active" card.*/
  input[type="text"],
  input[type="number"] {
    -moz-user-select: text;
  }

/* constnt variables end*/
html, body {
  padding: 0;
  border: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

*[hidden] { display: none; }

.hidden {
  display: none !important;
}

body > section {
  padding: 0;
  border: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  color: var(--color-gs100);
  background-color: var(--color-gs00);
}

#fm-container {
  height: calc(100% - 14rem);
  width: 100%;
  display: flex;
  flex-direction: column;
}

#fm-container.dim, #fm-footer.dim {
  opacity: 0.3;
  pointer-events: none;
}

#fm-container.dim::before {
  content: '';
  display: block;
  position: absolute;
  top: 9rem;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--color-gs00);
  z-index: 1;
  opacity: 0.3;
}

/****** styles for fm Header **********/

#fm-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header.kai-header > .power-switch-off{
  color: var(--color-pink);
}

#frequency-bar {
  box-sizing: border-box;
  height: var(--frequencybar-height);
  width: 100%;
  padding-top: 2rem;
}

#frequency-header {
  height: calc(var(--frequencybar-height) - 4rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.seek-option span {
  color: var(--color-gs60);
  font-size: 3.6rem;
}

.seek-option .dis-button {
  opacity: 0.3;
  pointer-events: none;
}

#frequency-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#frequency-display > span {
  width: 3.4rem;
  margin-right: 0.8rem;
  font-size: 5rem; 
}

#point {
  width: 0.8rem;
  height: 5rem;
  margin-left: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#point > span {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: var(--color-gs100);
}

#frequency-name {
  width: 100%;
  height: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  color: var(--color-gs60);
  overflow: hidden;
  text-overflow: ellipsis;
}

#favorite-star {
  display: inline-block;
  position: absolute;
  top: 0.8rem;
  right: 5.2rem;
  font-size: 3.2rem;
}

#frequency-display > .remove-to-favorites {
  color: var(--color-pink);
}

#frequency-list-container >.focus >.frequency-list-frequency {
  color: var(--color-pink);
}

#dialer-bar {
  width: 100%;
  height: var(--stationactionbar-height);
  overflow: hidden;
}

#dialer-container {
  position: relative;
  margin: 0 2rem;
  height: 100%;
}

#frequency-indicator {
  height: 4rem;
  width: 0.2rem;
  background-color: var(--color-pink);
  border-radius: 0.1rem;
  margin-left: 0.2rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
}

div.animation-on > div {
  transition: -moz-transform var(--transition-duration) ease 0s;
}

#frequency-dialer {
  display: inline-block;
  display: -moz-inline-box;
  -moz-user-select: none;
  width: 100%;
  position: absolute;
  top: 0;
}

#frequency-dialer > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  text-align: left;
  position: absolute;
  padding: 0;
}

li {
  width: 0.2rem;
  height: 0.8rem;
  margin-right: 1rem;
  border-radius: 0.3rem;
  background-color: var(--color-gs20);
  position: relative;
}

li > span {
  font-size: 1.2rem;
  color: var(--color-gs40);
  font-weight: 700;
  position: absolute;
  top: 1.7rem;
  left: -0.4rem;
}

.favorite-diar {
  width: 0.4rem;
  height: 1.2rem;
  border-radius: 0.3rem;
  background-color: var(--color-pink);
  z-index: 2;
  top: -0.2rem;
}

.decimal {
  width: 0.4rem;
  height: 1.2rem;
  background-color: var(--color-gs40);
}

.bound {
  background-color: var(--color-gs100);
}

.shadow {
  background-color: var(--color-gs10)
}

#action {
  height: var(--stationactionbar-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#station-action {
  width: 20rem;
  display: flex;
}

#gradient {
  position: absolute;
  top: calc(var(--frequencybar-height) + var(--stationactionbar-height));
  right: 0;
  width: 100%;
  height: 4.6rem;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), var(--color-gs00));
  z-index: 2;
  pointer-events:none;
}
/**** end *******/

/***** styles for frequency list ******/


div#frequency-list {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#frequency-list-container {
  width: 100%;
}

div#frequency-list-container > div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 1.5rem 0 2rem;
  box-sizing: border-box;
  font-weight: 600;
}

.frequency-list-item > .frequency-list-frequency {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

.kai-1line-listitem {
  color: var(--color-gs60);
}

.frequency-list-item > i {
  font-size: 3.2rem;
}

.favorite-icon {
  font-size: 3.2rem;
  margin-right: 1.5rem;
  color: var(--color-gs100);
}

div#favoritelist-warning {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

div#favoritelist-warning-body  {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#favoritelist-warning-header {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#noFavoritelistMsg > i {
  font-size: 2.4rem;
}

#favoritelist-warning-body :last-child {
  text-align: center;
  font-size: 1.8rem;
}
/***** end *****/

@keyframes spinner-animation {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***  styles for  warning box ****/
.warning {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.warning .warning-body {
  text-align: center;
  font-weight: 300;
  margin: 0 2.5rem;
}

/**** end ****/

/*** style for input dialog *****/
.subtitle.kai-textfield {
  text-align: left;
}

/*****  end  *****/


